<mat-sidenav-container [ngClass]="isDarkTheme ? 'dark-theme' : 'light-theme'">
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" class="sidenav">
    <div class="sidenav-header">
      <img src="assets/profile-large.jpg" alt="Ellyan Lopes" class="profile-image">
      <h2>Ellyan Lopes</h2>
      <p>Analista e Desenvolvedor Júnior</p>
      <p class="description">Bem-vindo ao meu portfólio pessoal!</p>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="/sobre" (click)="isMobile && sidenav.close()">Sobre</a>
      <a mat-list-item routerLink="/projetos" (click)="isMobile && sidenav.close()">Portfólio</a>
      <a mat-list-item routerLink="/servicos" (click)="isMobile && sidenav.close()">Serviços e Preços</a>
      <a mat-list-item routerLink="/resume" (click)="isMobile && sidenav.close()">Currículo</a>
      <a mat-list-item routerLink="/blog" (click)="isMobile && sidenav.close()">Blog</a>
      <a mat-list-item routerLink="/contato" (click)="isMobile && sidenav.close()">Contato</a>
      <mat-list-item>
        <button mat-button class="more-pages">Mais Páginas <mat-icon>arrow_drop_down</mat-icon></button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="accent" class="hire-me">Contrate-me</button>
      </mat-list-item>
      <mat-list-item>
        <mat-slide-toggle [(ngModel)]="isDarkTheme" (change)="toggleTheme()">Modo Escuro</mat-slide-toggle>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Meu Portfólio</span>
      <span class="spacer"></span>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>