<mat-card class="contato-card">
  <mat-card-header>
    <mat-card-title>Contato</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Email: <a href="Ellyang.lopes@gmail.com" target="_blank">Me mande um email</a> </p>
    <p>GitHub: <a href="https://github.com/EllyanL" target="_blank">github.com/EllyanL</a></p>
    <form #contatoForm="ngForm" (ngSubmit)="enviarMensagem()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput name="nome" ngModel required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput name="email" ngModel required email>
      </mat-form-field>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Mensagem</mat-label>
        <textarea matInput name="mensagem" ngModel required rows="5"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!contatoForm.valid">Enviar</button>
    </form>
  </mat-card-content>
</mat-card>